#header {
  margin: 30px 0;
  padding: 0 10px;
}

#header_left {
  float: left;
}

#header_right {
  float: right;
}

#portfolio {
  margin:100px auto;
}

.portfolio_section {
  width: 19%;
  float: left;
  height: 240px;
}

#footer {
  padding: 10px 0;
  background: #333;
  color: white;
  text-align: center;
}

#footer p {
}

/* GENERAL */

body {
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 5px;
}

h2 {
  font-size:16px;
  margin:0 10px;
  text-align:left;
  font-style:italic;
  color:grey;
}

.both {
  clear: both;
}
